<section class="section summary-section">

<h4 class="section-title"><i class="fa fa-exclamation-triangle"></i>Under Construction</h2>

<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>

    <ul>

    <li>Extensive experience of designing and assuring secure IT solutions in large multi-million </li>

<li>Pound enterprise infrastructure projects </li>

<li> Excellent technical writing skills and proven ability to communicate complex technical subjects </li>

to non-technical or semi-technical audience

<li> Well versed with defining and communicating technical strategies and architectures </li>

<li> Strong specialism in VMware virtualisation technologies, datacenter tooling, PaaS, IaaS,

security and Could computing </li>

<li> Good Knowledge of HMG-and CESG standards and guidelines. </li>

</ul>


</p>
</div><!--//summary-->
</section><!--//section-->