<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Head Of Infrastructure Engineering / Cloud Engineer </h3>
                            <div class="time">02/09 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Home Office</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>


                        <p>
                        Responsible for assuring suppliers design, documentation and implementation of a private

                        cloud type infrastructure solution for the Home Office (project value circa £80m+). As the lead

                        Technical Design Authority I assure, review and signed-off Datacentre related high and low level designs of;
                        </p>


                        <ul>



                        <li> DR capable CONTROL-M infrastructure, supporting development, test, production

                            and DR environments across two datacentres </li>

                         <li> Design of SCOM and Patrol based alerting and reporting solution integrated with CA

                        Unicenter service desk function </li>

                        <li> Creation of a protective monitoring solution and hardware classification approach

                        ensuring the infrastructure could meet stringent government security guidelines </li>

                        (GPG13) at IL3 </li>

                        <li> Resilient NetBackup based archiving and vaulting solution </li>

                        <li> Automated resource discovery infrastructure using multiple VMWare/EMC Ionix ADM

                        appliances

                        <li>Sun based Oracle RAC infrastructure </li>

                        <li>  Creation of a selection of IaaS and PaaS design patterns (Windows Server, Redhat

                        Server, SQL Server, Oracle RDBMS) for use as the basis of a cost model from which

                        the Home Office can choose standards based hosting solutions using a cloud-type

                        model

                        <li> Implementation of capacity planning to ensure VM resource optimization.

                        </ul>


                        </p> <!-- end of content-->
                    
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->


            


